/* ==RESET & BODY*/
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    min-height:100vh;
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    align-items:flex-start;
    gap:24px;
    padding:80px 80px 30px;
    background:#f3f2ef;
    color:#060707;
    font:16px "Segoe UI",sans-serif;
}
/* LAYOUT */
.left-container{
    width: 300px;
    display:flex;
    flex-direction:column;
    gap:20px;
}
.center-container{
    width:555px;
    display:flex;
    flex-direction:column;
    gap:20px;
    max-height:calc(100vh - 100px);
    overflow-y:auto;
    padding-right:10px;
    color:#060707;
}
.right-column{
    width:300px;
    display:flex;
    flex-direction:column;
    gap:20px;
}
/* =LEFT PROFILE*/
.container,
.second-container,
.third-container,
.news-card,
.feed-card,
.footer-card{
    background:#fff;
    border:1px solid #000;
    border-radius:20px;
}
.container{
    position:relative;
    display:flex;
    flex-direction:column;
    width:100%;
    min-width:225px;
    overflow:hidden;
   /* padding-left:20px;*/
}
.second-container{
    height:150px;
    padding:20px;
}
.third-container{
    height:250px;
    padding-left:20px;
}
/* =IMAGES */
.top-image{
    width:100%;
    height:60px;
    display:block;
    object-fit:cover;
    border-radius:20px 20px 0 0;
}
.profile-pic{
    position:absolute;
    top:24px;
    left:20px;
    width:72px;
    height:72px;
    object-fit:cover;
    border-radius:50%;
    border:3px solid gray;
}
.small-pfp{
    width:48px;
    height:48px;
    object-fit:cover;
    border-radius:50%;
    border:2px solid #000;
}
.follow img{
    width:55px;
    height:55px;
    border-radius:50%;
}
/* =TEXT====*/
p{
    margin-bottom:30px;
    color:#222;
    font-size:1.1rem;
}
/*BUTTONs*/
button{
    padding:14px 28px;
    border:none;
    border-radius:10px;
    background:#3b82f6;
    color:#fff;
    font-size:18px;
    cursor:pointer;
    transition:.3s;
}
button:hover{
    background:#2563eb;
    transform:scale(1.05);
}
/*ICONS*/
i{
    margin-right:10px;
    color:#060606;
    font-size:15px;
    cursor:pointer;
    transition:.3s;
}
i:hover{
    transform:scale(1.2);
}
/*START POST*/
.start-post-card{
    width:100%;
    padding:20px;
    background:#fff;
    border:1px solid #ddd;
    border-radius:12px;
}
.center-content{
    display:flex;
    align-items:center;
    gap:15px;
    margin-bottom:20px;
}
.center-content input{
    flex:1;
    height:48px;
    padding:0 20px;
    border:1px solid #b0b3b8;
    border-radius:30px;
    outline:none;
    background:#fff;
    color:#222;
    font-size:16px;
}
.center-content input::placeholder{
    color:#666;
}
.post-options{
    display:flex;
    justify-content:space-around;
    margin-top:15px;
    padding-top:10px;
    border-top:1px solid rgba(255,255,255,.2);
}
.option{
    display:flex;
    align-items:center;
    gap:8px;
    padding:10px 15px;
    border-radius:10px;
    cursor:pointer;
    transition:.3s;
}
.option:hover{
    transform:scale(1.05);
    background:rgba(255,255,255,.1);
}
.option i{
    margin:0;
    font-size:18px;
    color:#040404;
}
/* RIGHT SIDEBAR */
.news-card,.feed-card,.footer-card{
    width:100%;
    padding:20px;
}
.footer-card{
    display:flex;
    flex-wrap:wrap;
    gap:10px;
}
.footer-card a{
    color:#222;
    text-decoration:none;
    font-size:13px;
}
.footer-card a:hover{
    text-decoration:underline;
}
.footer-card p{
    width:100%;
    margin:15px 0 0;
    text-align:center;
    font-size:12px;
    color:#000;
}
.follow{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:20px;
}
.follow h4{
    margin-bottom:5px;
    color:#222;
}
.follow button{
    padding:8px 18px;
    border:1px solid #000;
    border-radius:20px;
    background:#fff;
    color:#0a66c2;
    font-size:14px;
    font-weight:600;
}
.follow button:hover{
    background:#e8f3ff;
    color:#0f172a;
}
.news-card p{
    margin:12px 0;
}
.feed-post{
    width:100%;
    margin-top:20px;
    padding:18px;
    background:#fff;
    border:1px solid #d0d0d0;
    border-radius:12px;
}
.post-header,
.post-actions,
.action,
.nav-left,
.nav-right,
.search-box,
.nav-item{
    display:flex;
    align-items:center;
}
.post-header{
    gap:12px;
    margin-bottom:15px;
}
.post-profile{
    width:55px;
    height:55px;
    border-radius:50%;
    object-fit:cover;
}
.post-header h3{
    font-size:16px;
    color:#222;
}
.post-header p{
    margin:4px 0 0;
    font-size:13px;
    color:#666;
}
.post-text{
    margin:15px 0;
    font:15px/1.6 "Segoe UI",sans-serif;
    color:#222;
}
.post-image{
    width:100%;
    margin-bottom:15px;
    border-radius:10px;
}
.likes{
    margin:12px 0;
    font-size:14px;
    color:#666;
}
.post-actions{
    justify-content:space-around;
    padding-top:12px;
    border-top:1px solid #ddd;
}
.action{
    gap:8px;
    padding:10px 18px;
    border-radius:8px;
    cursor:pointer;
    color:#666;
    transition:.3s;
}
.action:hover{
    background:#f3f2ef;
    color:#0A66C2;
}
.action i{
    font-size:18px;
}
.navbar{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:60px;
    display:flex;
    justify-content:center;
    align-items:center;
    padding:0 40px;
    background:#fff;
    border-bottom:1px solid #ddd;
    z-index:1000;
}
.navbar-content{
    width:1128px;
    height:100%;
    display:flex;
    justify-content:space-between;
    align-items:center;
}
.nav-left{ gap:15px; }
.nav-right{ gap:22px; }
.linkedin-logo{
    font-size:42px;
    color:#0A66C2;
}
.search-box{
    gap:10px;
    padding:10px 15px;
    background:#eef3f8;
    border-radius:8px;
}
.search-box i{ color:#666; }
.search-box input{
    width:250px;
    border:none;
    outline:none;
    background:transparent;
    font-size:15px;
}.nav-item{
    display:flex;
    flex-direction:column;
    align-items:center;
    color:#666;
    text-decoration:none;
    cursor:pointer;
    transition:.3s;
}
.nav-item i{
    margin-bottom:5px;
    font-size:22px;
}
.nav-item span{
    font-size:12px;
}
.nav-item:hover{
    color:#0A66C2;
}
.nav-profile{
    width:30px;
    height:30px;
    border:2px solid #ddd;
    border-radius:50%;
    object-fit:cover;
}
.profile-info{
    margin-top:55px;
    padding:0 20px;
    text-align:center;
}
.profile-info h2{
    margin-bottom:8px;
    font-size:22px;
    color:#222;
}
.profile-info p{
    margin-bottom:6px;
    font-size:14px;
    color:#666;
}
.container hr{
    margin:18px 0;
    border:none;
    border-top:1px solid #ddd;
}
.profile-stats{
    display:flex;
    flex-direction:column;
    gap:15px;
    padding:0 20px;
}
.stat,
.premium,
.saved-items{
    display:flex;
    cursor:pointer;
}
.stat{
    justify-content:space-between;
}
.stat span,
.premium p{
    color:#666;
}
.stat strong{
    color:#0A66C2;
}
.stat:hover,
.premium:hover,
.saved-items:hover{
    background:#f3f2ef;
}
.stat:hover{
    padding:6px;
    border-radius:6px;
}
.premium,
.saved-items{
    align-items:center;
    gap:12px;
}
.premium{
    padding:15px 20px;
}
.premium i{
    font-size:22px;
    color:#c37d16;
}
.premium h4{
    font-size:15px;
    color:#222;
}
.premium p{
    margin:0;
    font-size:13px;
}
.saved-items{
    padding:18px 20px;
    border-top:1px solid #ddd;
}
.main-content{
    display:flex;
    background:#ebe9e6;
    width:100%;
    gap:24px;
    margin:0 auto;
    justify-content:center;
}
.popup{
    position:fixed;
    inset:0;
    background:rgba(0,0,0,.5);

    display:none;
    justify-content:center;
    align-items:center;

    z-index:200;
}
.popup-content{
    width:600px;
    background:#fff;
    border-radius:12px;
    padding:20px;
}
.popup-header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:20px;
}
.close{
    font-size:25px;
    cursor:pointer;
}
.popup-user{
    display:flex;
    align-items:center;
    gap:15px;
    margin-bottom:20px;
}
.popup textarea{
    width:100%;
    height:220px;
    border:none;
    outline:none;
    resize:none;
    font-size:18px;
}
.post-btn{
    float:right;
    margin-top:15px;
    padding:10px 25px;
    border:none;
    border-radius:25px;
    background:#0A66C2;
    color:#fff;
    cursor:pointer;
}